*{
  margin: 0 ;
  padding: 0;
}
.full-page{
  text-align-last: center;
  color: #ffffff;
  width: 920px;
  margin: 10px 10px;
  box-shadow: 4px 4px 7px #93ddf0;
  
}
.menu{
  background: #9b59b6;
}
.container{
  background: #27ae60;
}
.footer{
  background:#34495e ;
}
.footer-bottom{
 background: #2c3e50 ;
}
img{
  max-width: 100%;
  
}
.pad{
  padding: 35px 0;
}
.padx{
  padding: 5% 0;
}